@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/clientHome';
@import '../styles/categoryPage';
@import '../styles/clientItemPage.scss';
@import '../styles/clientCart.scss';
@import '../styles/adminPage.scss';
@import '../styles/clientPage.scss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-[#f7edef];
}

#bold-text {
  @apply font-bold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
